<div class="row">
	<div class="large-4 columns">
		<div class="logo">
			<f:if condition="{settings.logo.file}">
					<f:link.page pageUid="1">
						<img src="{f:uri.image(src: settings.logo.file)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
					</f:link.page>
			</f:if>
		</div>
	</div>

	<div class="large-8 columns">
		<nav>
			<f:cObject typoscriptObjectPath="lib.menu_main"/>
		</nav>
	</div>
</div>


<div class="row">
	<div class="columns">
		<f:cObject typoscriptObjectPath="lib.searchbox"/>
	</div>
</div>

<div class="row">
	<div class="columns">
		<f:cObject typoscriptObjectPath="lib.breadcrumb"/>
	</div>
</div>


