<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon">
            <a href="#">
                <span>Menu</span>
            </a>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <f:format.raw>{menu_main}</f:format.raw>
        </ul>
        <ul class="right">
            <f:format.raw>{languageswitch}</f:format.raw>
        </ul>
    </section>
</nav>