{namespace vh=In2code\Powermail\ViewHelpers}

<div class="row">
    <div class="col-xs-4">

        <div id="fieldwrap_{field.uid}"
             class="fieldwrap_{field.uid} {field.css} {vh:Validation.ErrorClass(field:field, class:'has-error')}">
            <label for="field_{field.marker}" class="control-label" title="{field.description}">
                <vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss>
                <f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
            </label>
            <div class="select-wrap">
            <vh:Form.SelectField
                    options="{field.modifiedSettings}"
                    property="{field.marker}"
                    class="form-control selectpicker"
                    id="field_{field.marker}"
                    additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
                    multiple="{field.multiselectForField}"
                    value="{vh:Misc.PrefillField(field:field, mail:mail)}"
                    />
            </div>
        </div>
    </div>
</div>