<div class="offcanvas">
    <f:render partial="offcanvas" arguments="{
		menu_mobile:menu_mobile,
		searchbox:searchbox,
		headerlinks:headerlinks,
		languageswitch: languageswitch
	}"/>
</div>

<div class="page">
    <div class="offcanvas__overlay"></div>


    <header class="page__head">
        <div class="row">
            <div class="column">
                <div class="header-desktop show-for-large-up">
                    <f:render partial="head_desktop" />
                </div>

                <div class="header-mobile hide-for-large-up">
                    <f:render partial="head_mobile" arguments="{
					headerlogo:headerlogo,
					breadcrumb:breadcrumb
				}"/>
                </div>
            </div>
        </div>
    </header>

    <div class="page__content">
        <f:render section="standard"/>
    </div>


    <footer class="page__footer">
        <f:format.raw>{footer}</f:format.raw>
    </footer>
</div>
