@font-face {
  font-family: "icon";
  src: url('../fonts/icon.eot');
  src: url('../fonts/icon.eot?#iefix') format('eot'),
    url('../fonts/icon.woff') format('woff'),
    url('../fonts/icon.ttf') format('truetype'),
    url('../fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
   font-family:"icon";
   display:inline-block;
   vertical-align:middle;
   line-height:1;
   font-weight:normal;
   font-style:normal;
   speak:none;
   text-decoration:inherit;
   text-transform:none;
   text-rendering:optimizeLegibility;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

@mixin icon_bars() {&:before { content: "\E00E" }}
@mixin icon_angle-down() {&:before { content: "\E001" }}
@mixin icon_angle-left() {&:before { content: "\E002" }}
@mixin icon_angle-right() {&:before { content: "\E003" }}
@mixin icon_angle-up() {&:before { content: "\E004" }}
@mixin icon_envelope() {&:before { content: "\E005" }}
@mixin icon_phone() {&:before { content: "\E006" }}
@mixin icon_plus() {&:before { content: "\E007" }}
@mixin icon_search() {&:before { content: "\E008" }}
@mixin icon_sort-asc() {&:before { content: "\E009" }}
@mixin icon_sort-desc() {&:before { content: "\E00A" }}
@mixin icon_times() {&:before { content: "\E00B" }}
@mixin icon_globe() {&:before { content: "\E00C" }}
@mixin icon_home() {&:before { content: "\E00D" }}


@mixin icon_bars-after() {&:after { content: "\E00E" }}
@mixin icon_angle-down-after() {&:after { content: "\E001" }}
@mixin icon_angle-left-after() {&:after { content: "\E002" }}
@mixin icon_angle-right-after() {&:after { content: "\E003" }}
@mixin icon_angle-up-after() {&:after { content: "\E004" }}
@mixin icon_envelope-after() {&:after { content: "\E005" }}
@mixin icon_phone-after() {&:after { content: "\E006" }}
@mixin icon_plus-after() {&:after { content: "\E007" }}
@mixin icon_search-after() {&:after { content: "\E008" }}
@mixin icon_sort-asc-after() {&:after { content: "\E009" }}
@mixin icon_sort-desc-after() {&:after { content: "\E00A" }}
@mixin icon_times-after() {&:after { content: "\E00B" }}
@mixin icon_globe-after() {&:after { content: "\E00C" }}
@mixin icon_home-after() {&:after { content: "\E00D" }}


.icon-bars { @include icon_bars(); }
.icon-angle-down { @include icon_angle-down(); }
.icon-angle-left { @include icon_angle-left(); }
.icon-angle-right { @include icon_angle-right(); }
.icon-angle-up { @include icon_angle-up(); }
.icon-envelope { @include icon_envelope(); }
.icon-phone { @include icon_phone(); }
.icon-plus { @include icon_plus(); }
.icon-search { @include icon_search(); }
.icon-sort-asc { @include icon_sort-asc(); }
.icon-sort-desc { @include icon_sort-desc(); }
.icon-times { @include icon_times(); }
.icon-globe { @include icon_globe(); }
.icon-home { @include icon_home(); }


.icon-bars-after { @include icon_bars-after(); }
.icon-angle-down-after { @include icon_angle-down-after(); }
.icon-angle-left-after { @include icon_angle-left-after(); }
.icon-angle-right-after { @include icon_angle-right-after(); }
.icon-angle-up-after { @include icon_angle-up-after(); }
.icon-envelope-after { @include icon_envelope-after(); }
.icon-phone-after { @include icon_phone-after(); }
.icon-plus-after { @include icon_plus-after(); }
.icon-search-after { @include icon_search-after(); }
.icon-sort-asc-after { @include icon_sort-asc-after(); }
.icon-sort-desc-after { @include icon_sort-desc-after(); }
.icon-times-after { @include icon_times-after(); }
.icon-globe-after { @include icon_globe-after(); }
.icon-home-after { @include icon_home-after(); }