<f:layout name="Default"/>

<f:section name="standard">
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<f:alias map="{daten: '{pageUid: data.uid, colPos: 0}'}">
				<f:if condition="{daten -> f:cObject(typoscriptObjectPath:'lib.dynamicContent')}">
					<div class="cell medium-6">
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 0}"/>
					</div>
				</f:if>
			</f:alias>

			<f:alias map="{daten: '{pageUid: data.uid, colPos: 1}'}">
				<f:if condition="{daten -> f:cObject(typoscriptObjectPath:'lib.dynamicContent')}">
					<div class="cell medium-6">
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 1}"/>
					</div>
				</f:if>
			</f:alias>
		</div>
	</div>
</f:section>


