$mobile-menu-width: rem-calc(260);
$mobile-menu-speed: 300ms;
$mobile-menu-effect: ease;

.page__offcanvas-overlay {
	position: absolute;
	z-index: 999;
	width: 100%;
	top: 0;
	left: 0;
	background: $primary-color;
	opacity: 0;

	@include transition(opacity $mobile-menu-speed $mobile-menu-effect);
}

.page__offcanvas {
	position: fixed;
	top: 0;
	bottom: 0;
	width: $mobile-menu-width;
	right: -($mobile-menu-width);
	height: 100%;
	overflow-y: auto;
	padding: rem-calc(20);

	@include transform(translate(rem-calc(0), rem-calc(0)));

	@include transition($mobile-menu-speed $mobile-menu-effect);

	> * {
		margin-bottom: rem-calc(20);
	}

	.page__offcanvas--search {
		input, button {
			margin: 0;
		}
	}

	.side-nav {
		padding: 0;
		list-style-type: none;

		ul, li {
			list-style-type: none;
		}

		.has-dropdown {
			> a {
				width: 80%;
				display: inline-block;
				height: 100%;
			}

			> .dropdown-icon {
				width: 20%;
				display: inline-block;
				font-size: 2em;
				line-height: 1em;
				height: 100%;
				text-align: right;
				color: $primary-color;
			}

			> .dropdown {
				display: none;
			}

			&.active {
				> .dropdown-icon {
					color: $side-nav-link-color-active;
					@include icon-angle-up();
				}

				> .dropdown {
					display: block;
				}
			}
		}
	}
}

.page__wrapper {
	min-height: 100%;

	@include transform(translate(rem-calc(0), rem-calc(0)));

	@include transition($mobile-menu-speed $mobile-menu-effect);
}

.page__offcanvas--toggleWrapper {
	text-align: right;

	.page__offcanvas--toggle {
		font-size: 3em;
		line-height: 1em;
		color: $body-font-color;

		&:hover {
			color: $primary-color;
		}
	}
}

.page__offcanvas--sublinks {
	position: absolute;
	bottom: rem-calc(20);
	left: rem-calc(20);
	right: rem-calc(20);
	margin-bottom: 0;

	ul {
		@extend .side-nav;
	}
}

body.page__offcanvas--active {
	overflow: hidden !important;

	.page__offcanvas-overlay {
		height: 100%;
		opacity: 0.5;
	}

	.page__offcanvas {
		@include transform(translate(-($mobile-menu-width), rem-calc(0)));
	}

	.page__wrapper {
		overflow: hidden;

		@include transform(translate(-($mobile-menu-width), rem-calc(0)));
	}
}
